<p id="notice"><%= notice %></p>
<h5>Lista de Produto(s) em Estoque</h5>

<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Fornecedor </th>
            <th>Estoque Minimo</th>
            <th>Qtd. Atual</th>
            <th>Ultimo Preço</th>
            
        </tr>
    </thead>

    <tbody>
        <% @stocks.sort_by{|s| s.supplier.supplier_name}.each do |s| %>
            <tr>
                <td><%= [s.product.product_type.description, s.product.description, 
                        s.product.product_color.description,  
                        s.product.product_composition.description, 
                        s.product.product_size.description].join(", ") %></td>
                
                <td><%= s.supplier.supplier_name %></td>
               
                <td><%= number_with_delimiter(s.minimum_quantity, delimiter: ".") %> </td>
                <td><%= number_with_delimiter(s.quantity, delimiter: ".") %> </td>
                <td><%= number_to_currency(s.last_unit_price, :unit => "R$", :separator => ",", :delimiter => ".") %> </td>
                        
                <td><%= link_to ' Visualizar ', stock_path(s),  class: 'btn btn-secondary btn-sm'  %></td>
                <td><%= link_to ' Alterar ', edit_stock_path(s), class: 'btn btn-success btn-sm' %></td>
                <td><%= link_to ' Excluir ', s, method: :delete, data: { confirm: "Voce tem certeza que quer Excluir ?" }, class: 'btn btn-danger btn-sm' %> </td>
                
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'Novo Produto', new_stock_path, class: 'btn btn-info btn-sm' %>
<%= link_to 'Sair', homes_path, class: 'btn btn-dark btn-sm' %>