<%= form_with(model: client, local: true) do |c| %>
    <% if client.errors.any? %>
        <div id="error_explanation">
            <h6><%= pluralize(client.errors.count, "erro(s)") %> Encontrado(s) no preenchimento do formulario !!</h6>

            <ul>
                <% client.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= c.label :client_name, "Nome :" %>
        <%= c.text_field :client_name %>
    </div>
  
    <div class="field">
        <%= radio_button_tag :document_type, "cpf" %> CPF
        <%= radio_button_tag :document_type, "cnpj" %> CNPJ  : 
        <%= c.text_field :identification, class: "cpf-cnpj-with-mask",
            placeholder: "Escolha CPF ou CNPJ" %> 
        <%= javascript_pack_tag 'clientradiobuttons' %>
    </div>

    <div class="field">
        <%= c.label :description, "Observação :" %>
        <%= c.text_field :description %>

    </div>

    <br>

    <div class="field">
        
        <%= c.fields_for :address_clients do |ac| %>
            <%= render "address_client_fields", f: ac %>
        <% end %>
        
    </div>
    
    <div class="links">
        <%= link_to_add_association "Adicionar Endereço", c, :address_clients %>
    </div>
    
    <br>

    <div class="field">
        
        <%= c.fields_for :contact_clients do |cc| %>
            <%= render "contact_client_fields", f: cc %>
        <% end %>
        
    </div>
    
    <div class="links">
            <%= link_to_add_association "Adicionar Contato", c, :contact_clients %>
    </div>
    <br>
    <div class="action">
        <%= c.submit "Salvar", class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Cancelar', clients_path, class: 'btn btn-danger btn-sm' %>
    </div>
<% end %>

<%= javascript_pack_tag 'masktel' %>
