

<h5>Lista de Cliente(s)</h5>

<div class="row">    
    <%= form_with(url: '/clients', method: :get, local: true) do %>
        <div class="column">  
            <p> <%= text_field_tag (:q) %>
                <%= submit_tag "Pesquisar", class: "btn btn-info btn-sm" %> 
            </p>  
        </div>
    <% end %> 
        <div  class="column pagination justify-content-end mt-2"> <p> <%= link_to_prev_page @clients, '<< Pagina Anterior'  %>
            <%= link_to_next_page @clients, 'Proxima Pagina >>' %> </p>
        </div>
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>CPF / CNPJ</th>
            <th>OBS</th>
            <th>Endereço(s)</th>
            <th>Contato(s)</th>
           
        </tr>
    </thead>

    <tbody>
        <% @clients.each do |c| %>
            <tr>
                <td><%= c.client_name %></td>
                <td><%= c.identification %></td>
                <td><%= c.description %></td>

                <td><%= link_to ' Endereço(s) ', address_client_path(id: c.id) %> </td>
                <td><%= link_to ' Contato(s) ', contact_client_path(id: c.id) %> </td>
                        
                <td><%= link_to ' Visualizar ', client_path(c),  class: 'btn btn-secondary btn-sm'  %></td>
                <td><%= link_to ' Alterar ', edit_client_path(c), class: 'btn btn-success btn-sm' %></td>
                <td><%= link_to ' Excluir ', c, method: :delete, data: { confirm: "Voce tem certeza que quer Excluir?" }, class: 'btn btn-danger btn-sm' %> </td>
                
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'Novo Cliente', new_client_path, class: 'btn btn-info btn-sm' %>
<%= link_to 'Sair', homes_path, class: 'btn btn-dark btn-sm' %>