

<h5>Atualizar Estoque</h5>

<%= form_with(url: '/search', method: 'get', local: true, 
    class: 'navbar-form navbar-left navbar-dark bg-dark') do %>  
    
        <%= label_tag :q, " Selecionar Fornecedor " %>
        <%= select_tag :q,
            options_for_select(@sesuppliers), include_blank: true %>
    
        <%= submit_tag " Pesquisar Produto(s)", class: 'far fa-search' %> 
    
<% end %>

    <br>

    <%= link_to 'Sair', homes_path, class: 'btn btn-dark btn-sm' %>
