    <br>
<table>
    <thead>
        <tr>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Codigo Postal</th>
        
        </tr>
    </thead>

    <tbody>
        <% a = 0 %>

        <% @address_clients.each do |ac| %>  
            <% if a < 1 %>
                <h5>Endereço(s) do Cliente => <%= @address_client.client_name %> </h5> 
                    <% a = 1 %>
                    <br>
            <% end %>
            <tr>
                <td><%= ac.street + " " + ac.number + " " + ac.complement %></td>
                <td><%= ac.neighborhood %></td>
                <td><%= ac.city %></td>
                <td><%= ac.state %></td>
                <td><%= ac.zip_code %></td>
            </tr>
        <% end %>  
    </tbody>
</table> 

<br>

<%= link_to 'Lista', clients_path, class: 'btn btn-warning btn-sm' %>