<header>
     <%= render 'layouts/navbar' %>  
</header>

<body>
     <br>
     <h5>Lista de Produto(s) com Estoque <span style="color: red"> Critico </span></h5>
     <% if @stocks.length > 0 %>
          <table>
               <thead>
                    <tr>
                         <th>Produto</th>
                         <th>Fornecedor </th>
                         <th>Estoque Minimo</th>
                         <th>Qtd. Atual</th>
                         
                    </tr>
               </thead>

               <tbody>
                    <% @stocks.each do |s| %>
                         <tr>
                              <td><%= [s.product.product_type.description, s.product.description, 
                                        s.product.product_color.description, 
                                        s.product.product_composition.description, 
                                        s.product.product_size.description].join(", ") %></td>                        
                              <td><%= s.supplier.supplier_name %></td>                        
                              <td><strong><%= format_quantity(s.minimum_quantity) %></strong> </td>
                              <td> <strong> <span style="background-color:#FFA07A;"><%= format_quantity(s.quantity)  %></span> </strong> </td>                              
                         </tr>
                    <% end %>
               </tbody>
          </table>
     <% else %>
          <p class="home"> Não ha Produto(s) com Estoque Critico !!! </p>
     <% end %>
</body>
