<%= form_with(model: stock_entry, local: true) do |se| %>
    <% if stock_entry.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(stock_entry.errors.count, "erros") %> Encontrados no preenchimento do formulario !!</h2>

            <ul>
                <% stock_entry.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
       
        <%= se.label :date_entry, value: @time %>
        <%= se.date_field :date_entry, max: Date.today %>
    </div>

    <div class="field">
        <%= se.label :product_id, "Produto :" %>
        <%= se.select :stock_id, @stocks, include_blank: "Selecione um produto..." %> 
    </div>

    <br>

    <div class="field">
        
        <%= se.label :date_invoice, "Data da Nota Fiscal" %>
        <%= se.date_field :date_invoice, max: Date.today %>
    </div>
    
    <div class="field">
       
        <%= se.label :invoice, "Nota Fiscal" %>
        <%= se.text_field :invoice %>
    </div>

    <div class="field">
        <%= se.label :quantity, "Quantidade" %>
        <%= se.number_field :quantity %>
    </div>

    <div class="field">
        <%= se.label :unit_price, "Preço Unitario" %>
        <%= se.text_field  :unit_price, class: "price-with-mask", placeholder: "0,00"  %>
          
       
    </div>

    <div class="field">
        <%= se.label :description, "Observação :" %>
        <%= se.text_field :description %>
    </div>
    
    <br>
    <div class="actions">
        <%= se.submit "Salvar", class: "btn btn-primary btn-sm convert" %>
        <%= link_to 'Cancelar', stock_entries_path, class: 'btn btn-danger btn-sm' %>
    </div>
<% end %>
<%= javascript_pack_tag 'maskprice' %>
<%= javascript_pack_tag 'convertprice' %>


