<%= form_with(model: stock_entry, local: true) do |se| %>
    <% if stock_entry.errors.any? %>
        <div id="error_explanation">
            <h6><%= pluralize(stock_entry.errors.count, "erros") %> Encontrados no preenchimento do formulario !!</h6>

            <ul>
                <% stock_entry.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= se.label :stock_id, "Produto" %>
        <%= se.select :stock_id, @stockprod, disabled: true %>
    </div>

    <div class="field">
        <%= se.label :type_entry, "Tipo da Entrada " %>
        <%= se.hidden_field :type_entry %>  
    <!--    <%= select_tag(:type_entry, options_for_select([['Material Fornecedor', 1], ['Retorno para Estoque', 2], ['Devolução Cliente', 3]], selected: params[:type_entry]), 
            include_blank: "Selecione um tipo de entrada", class: 'type_entry') %>  -->
        <%= select_tag :type_entry, options_for_select(@typeentries, 
            selected: params[:type_entry]), include_blank: "Selecione um tipo de entrada", class: 'type_entry' %>
    </div>
    
    <div class="field">
        <%= se.label :date_entry, value: @time %>
        <%= se.date_field :date_entry, max: Date.today %>

    </div>

    <div class="field">
        <%= se.label :date_invoice, "Data da Nota Fiscal" %>
        <%= se.date_field :date_invoice, max: Date.today %>
    </div>

    <div class="field" >
        <%= se.label :invoice, "Nota Fiscal" %>
        <%= se.text_field :invoice %>
    </div>

    <div class="field">
        <%= se.label :quantity, "Quantidade" %>
        <%= se.number_field :quantity, placeholder: "0" %>
    </div>

    <div class="field">
        <%= se.label :unit_price, "Preço Unitario" %>
        <%= se.text_field  :unit_price, class: 'pricemask', placeholder: '0,00' %>
        
    </div>

    <div class="field">
        <%= se.label :description, "Observação :" %>
        <%= se.text_field :description %>
    </div>
    
    <br>
    <div class="actions">
        <%= se.submit "Salvar", class: "btn btn-primary btn-sm convert" %>
        <%= link_to 'Cancelar', stock_updates_path, class: 'btn btn-danger btn-sm' %>
    </div>
<% end %>
<%= javascript_pack_tag 'maskprice' %>
<%= javascript_pack_tag 'convertprice' %>
<%= javascript_pack_tag 'type_entry' %>


