<p id="notice"><%= notice %></p>

<h5>Lista de Entrada(s)</h5>

<div class="pagination justify-content-end">
        <%= link_to_prev_page @stock_entries, '<< Pagina Anterior' %>
        <%= link_to_next_page @stock_entries, 'Proxima Pagina >>' %>
</div>

<table>
    <thead>
        <tr>
            <th>Data Entrada</th>
            <th>Produto</th>
            <th>Fornecedor </th>
            <th>Qtd.</th>
            <th>Preço Unitario</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @stock_entries.each do |se| %>
            <tr>
                <td><%= se.date_entry.strftime("%d/%m/%Y") %></td>
                <td><%= [se.stock.product.product_type.description, se.stock.product.description, 
                            se.stock.product.product_color.description].join(", ") %></td>                        
                <td><%= se.stock.supplier.supplier_name %></td>                        
                <td><strong><%= number_with_delimiter(se.quantity, delimiter: ".") %></strong> </td>
                <td><strong><%= number_to_currency(se.unit_price, :unit => "R$", :separator => ",", :delimiter => ".")  %> </strong> </td> 
                <td><%= link_to ' Visualizar ', stock_entry_path(se),  class: 'btn btn-secondary btn-sm'  %></td>
                <td><%= link_to ' Alterar ', edit_stock_entry_path(se), class: 'btn btn-success btn-sm' %></td>
                <td><%= link_to ' Excluir ', se, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %> </td> 
            </tr>
        <% end %>
    </tbody>
</table>
<br>
<%= link_to 'Sair', homes_path, class: 'btn btn-dark btn-sm' %>
