

<h5>Entrada no Estoque</h5>

<p>
    <strong>Fornecedor:</strong>
    <%= @stock_entry.stock.supplier.supplier_name %>
</p>

<p>
    <strong>Produto:</strong>
    <%= [@stock_entry.stock.product.product_type.description, 
        @stock_entry.stock.product.description, 
        @stock_entry.stock.product.product_color.description, 
        @stock_entry.stock.product.product_composition.description, 
        @stock_entry.stock.product.product_size.description].join(", ")  %>
</p>

<p>
    <strong>Referencia:</strong>
    <%= @stock_entry.stock.reference %>
</p>

<p>
    <strong>Tipo de Entrada:</strong>
    <%= @typeentries[@stock_entry.type_entry.to_i][0] %>
</p>

<p>
    <strong>Data de Entrada:</strong>
    <%= format_date(@stock_entry.date_entry) %>
</p>

<p>
    <strong>Data da Nota Fiscal:</strong>
    <%= format_date(@stock_entry.date_invoice) %>
</p>

<p>
    <strong>Numero da Nota Fiscal:</strong>
    <%= @stock_entry.invoice %>
</p>

<p>
    <strong>Quantidade:</strong>
    <%= format_quantity(@stock_entry.quantity) %>
</p>

<p>
    <strong>Preço Unitario:</strong>
    <%=  format_price(@stock_entry.unit_price) %>
</p>

<p>
    <strong>Observação:</strong>
    <%= @stock_entry.description %>
</p>

<p>
    <strong>Data Atualização:</strong>
    <%= format_date_hours(@stock_entry.updated_at) %>
</p>

<br>
<%= link_to ' Alterar ', edit_stock_entry_path(@stock_entry), class: 'btn btn-primary btn-sm' %>    
<%= link_to 'Nova Entrada no Estoque', stock_updates_path, class: 'btn btn-info btn-sm' %>
<%= link_to 'Sair', homes_path, class: 'btn btn-dark btn-sm' %>