<%= form_with(model: stock_out, local: true) do |so| %>
   
    <% if stock_out.errors.any? %>
        <div id="error_explanation">
            <h6><%= pluralize(stock_out.errors.count, "erro(s)") %> Encontrado(s) no preenchimento do formulario !!</h6>
            <ul>
                <% stock_out.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <div class="field">
        <%= so.label :stock_id, "Produto" %>
        <%= so.select :stock_id, @stockprod %>
    </div>

    <div class="field">
        <%= so.label :type_entry, "Tipo de Saida " %>
        <%= so.select :type_out, @typeouts, 
            include_blank: "Selecione um tipo de saida" %> 
    </div>

    <div class="field">        
        <%= so.label :date_out, "Data da Saida" %>
        <%= so.date_field :date_out, max: Date.today %>
    </div>
    
    <div class="field">
        <%= so.label :invoice, "Numero do Pedido" %>
        <%= so.text_field :order_number %>  
    </div>

     <div class="field">
        <%= so.label :clientt_id, "Cliente :" %>
        <%= so.select :client_id, @clients, include_blank: "selecione um cliente..." %> 
    </div>

    <div class="field">
        <%= so.label  "Quantidade no Estoque : " %>
        <strong> <%= so.label  @qtd  %> </strong>
    </div>


    <div class="field">
        <%= so.label :quantity, "Quantidade" %>
        <%= so.number_field :quantity, placeholder: "0" %>
    </div>

    <div class="field">
        <%= so.label :description, "Obsorvação :" %>
        <%= so.text_field :description %>
    </div>
    
    <br>
    <div class="actions">
        <%= so.submit "Salvar", class: "btn btn-primary btn-sm",  onClick: "convert();" %>
        <%= link_to 'Cancelar', stock_updates_path, class: 'btn btn-danger btn-sm' %>
    </div>
<% end %>


