<p id="notice"><%= notice %></p>

<h5>Lista de Saidas do Estoque</h5>

<div class="pagination justify-content-end">
        <%= link_to_prev_page @stock_outs, '<< Pagina Anterior' %>
        <%= link_to_next_page @stock_outs, 'Proxima Pagina >>' %>
</div>

 <table>
    <thead>
        <tr>
            <th>Data Saida</th>
            <th>Produto</th>
            <th>Fornecedor </th>
            <th>Qtd.</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @stock_outs.each do |so| %>
            <tr>
                <td><%= so.date_out.strftime("%d/%m/%Y") %></td>
                <td><%= [so.stock.product.product_type.description, so.stock.product.description, 
                            so.stock.product.product_color.description].join(", ") %></td>                        
                <td><%= so.stock.supplier.supplier_name %></td>                        
                <td><strong><%= number_with_delimiter(so.quantity, delimiter: ".") %></strong> </td>
                <td><%= link_to ' Visualizar ', stock_out_path(so),  class: 'btn btn-secondary btn-sm'  %></td>
                <td><%= link_to ' Alterar ', edit_stock_out_path(so), class: 'btn btn-success btn-sm' %></td>
                <td><%= link_to ' Excluir ', so, method: :delete, data: { confirm: "Voce tem certeza que quer Excluir ?" }, class: 'btn btn-danger btn-sm' %> </td>      
            </tr>
        <% end %>
    </tbody>
</table>
<br>
<%= link_to 'Sair', homes_path, class: 'btn btn-dark btn-sm' %>
