<p id="notice"> <%= notice %> </p>

<h5>Saida do Estoque</h5>

<p>
    <strong>Produto:</strong>
    <%= [@stock_out.stock.product.description, @stock_out.stock.product.product_color.description, 
         @stock_out.stock.product.product_composition.description, 
         @stock_out.stock.product.product_size.description].join(", ") %>
</p>

<p>
    <strong>Fornecedor:</strong>
    <%= @stock_out.stock.supplier.supplier_name %>
</p>

<p>
    <strong>Referencia:</strong>
    <%= @stock_out.stock.reference %>
</p>

<p>
    <strong>Tipo de Saidaa:</strong>
    <%= @typeouts[@stock_out.type_out.to_i][0] %>
</p>

<p>
    <strong>Data da Saida:</strong>
    <%= @stock_out.date_out.strftime("%d/%m/%Y") %>
</p>

<p>
    <strong>Numero do Pedido:</strong>
    <%= @stock_out.order_number %>
</p>

<p>
    <strong>Cliente:</strong>
    <%= @stock_out.client.client_name %>
</p>

<p>Quantidade:</strong>
    <%= @stock_out.quantity %>
</p>

<p>Observação:</strong>
    <%= @stock_out.description %>
</p>

<p>
    <strong>Data Atualização:</strong>
    <%= @stock_out.updated_at.strftime("%d/%m/%Y %H:%M") %>
</p>

<br>
<%= link_to ' Alterar ', edit_stock_out_path(@stock_out), class: 'btn btn-primary btn-sm' %>    
<%= link_to 'Nova Saida do Estoque', stock_updates_path, class: 'btn btn-info btn-sm' %>
<%= link_to 'Sair', homes_path, class: 'btn btn-dark btn-sm' %>