
<p id="notice"><%= notice %></p>
<h5>Lista de Fornecedor(es)</h5>
<br>
<%= form_with(url: '/suppliers', method: 'get', local: true) do %>
  <%= text_field_tag (:search) %>
  <%= submit_tag "Pesquisar", class: "btn btn-info glyphicon glyphicon-search btn-sm" %>
<% end %>
<br>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>CPF / CNPJ</th>
            <th>OBS</th>
            <th>Endereço(s)</th>
            <th>Contato(s)</th>
           
        </tr>
    </thead>

    <tbody>
        <% @suppliers.each do |s| %>
            <tr>
                <td><%= s.supplier_name %></td>
                <td><%= s.identification %></td>
                <td><%= s.description %></td>

                <td><%= link_to ' Endereço(s) ', address_supplier_path(id: s.id) %> </td>
                <td><%= link_to ' Contato(s) ', contact_supplier_path(id: s.id) %> </td>
                        
                <td><%= link_to ' Visualizar ', supplier_path(s),  class: 'btn btn-secondary btn-sm'  %></td>
                <td><%= link_to ' Alterar ', edit_supplier_path(s), class: 'btn btn-success btn-sm' %></td>
                <td><%= link_to ' Excluir ', s, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %> </td>
                
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'Novo Fornecedor', new_supplier_path, class: 'btn btn-info btn-sm' %>
<%= link_to 'Sair', homes_path, class: 'btn btn-dark btn-sm' %>