<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>InventoryControl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    
      <div class= "container">
          <%= render 'layouts/flash_messages' %>  
          <%= yield %>
      </div>

  </body>
</html>
